table {
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  float: right;
}

.actions {
  /* display: flex;
  justify-content: space-between; */
  /* align-items: center; */
  margin-top: 1em;
  align-items: center;
}

.action-selection {
}

.button-item {
}
