.dialog-content-container {
  overflow: hidden;
  margin: 20px 0;
  padding: 0 24px;
}

.dialog-item-card {
  height: 100%;
  max-height: 65vh;
  overflow: auto;
  mat-card-content {
    margin-top: 10px;
  }
}

@media(max-width: 768px) {
  .dialog-content-container {
    overflow: auto;
  }

  .dialog-item-card {
    max-height: unset;
    overflow: hidden;
  }
}

.action-buttons-container {
  justify-content: end;
}

.row {
  mat-form-field {
    width: 100%;
  }
}

.form-array-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.form-array-add {
  position: sticky;
  top: 10px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  z-index: 2;
}

.form-array-list {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
}
